.header {
  background-color: rgb(240, 128, 128);
  height: 6rem;
}

.header_logo {
  display: flex;
  margin-left: 2rem;
  padding-top: 1.3rem;
  font-size: 2rem;
  text-decoration: none;
  color: #ffdead;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 2rem;
}

.nav_card,
.nav_table {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1rem;
  color: #ffdead;
}
