.header {
    background-color: rgb(240, 128, 128);
}

.logo {
    display: flex;
    margin-left: 2rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2rem;
}