@import "../assets/variabless";

.table {
    border: 1px solid red;
    background-color: $backgroundColor;
    width: 100%;
    padding: 0 2rem;
}

.tbody {
    tr {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-top: 1px solid;
    }

}