@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import "./components/assets/variabless";

.App {
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;

}

.App1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;


}




.App2 {

  margin-top: 3rem;
}


.btnUp {
  background-color: $borderColor;
  margin-left: 1.3rem;
  color: white;
  border-radius: 1.5em;
  width: 5rem;
  height: 2rem;
}


.btnDown {
  background-color: $borderColor;
  color: white;
  border-radius: 1.5em;
  width: 5rem;
  height: 2rem;
  margin-right: 1.3rem;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}